/* ALL PAGES */

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body > div {
    padding: 0% 5% 0% 5%;
}

#header {
    background-color: #001337;
    padding: 2%;
    height: 40px;
    display: grid;
    grid-template-columns: auto 60px auto;
}

#nav {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

#nav ul, #footer ul {
    list-style: none;
    display: flex;
    gap: 5%;
    margin:0;
    padding:0;
}

#nav li a {
    background-color: #C8A2C8;
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.1s linear;
}

#nav li a:hover {
    transition: background-color 0.1s linear;
    background-color: #926092;
}

#hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
#hamburger > div {
    height: 1px;
    background-color: #C8A2C8;
}

#logo {
    margin: 0;
}

#searchBar {
    float: right;
    background-color: #C8A2C8;
    border-radius: 20px;
    border: none;
    padding: 10px 20px 10px 20px;
}

#searchBar::placeholder{
    color: #604969;
}

#SBContainer {
    margin-top: auto;
    margin-bottom: auto;
}

.top {
    background-color: #00266E;
    color: white;
    padding: 5% 5% 5% 5%;
}

#topTxt {
    max-width: 75ch;
    margin: auto;
    padding: 0;
}

#footer {
    background-color: #001337;
    display: flex;
    color: white;
    padding: 2%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer li a {
    text-decoration: none;
    margin: auto 10px auto 10px;
    color: #C8A2C8;
}

#footer li a:hover {
    color: #926092;
}

#footer p {
    margin-top: auto;
    margin-bottom: auto;
}

/* HOME PAGE */

#topHome {
    padding-bottom: 2%;
}

h1 {
    padding: 0;
    margin: 0;
}

#featuredArtists, #upcomingEvents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 5% 5% 5%;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

#FABackground {
    background-color: #00266E;
    height: 100px;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
}

hr {
    width: 45%;
    border: 1px solid #e1e1e1;
}

#UEContainer h2 {
    text-align: center;
    margin-top: 5%;
}

#footer a {
    margin-top: auto;
    margin-bottom: auto;
}

/* ABOUT PAGE */

#about {
    text-align: center;
}

#aboutTxt {
    padding: 5% 5% 5% 5%;
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}

.team{
    background-color: #00266E;
    color: white;
    padding: 5% 5% 5% 5%;
}

.team h2, .team h3 {
    text-align: center;
}

.team h3 {
    margin-top: 5%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.members {
    display: flex;
    justify-content: center;
    text-align: center;
}

.members div {
    padding: 2%;
}

/* ARTIST TEMPLATE PAGE */
.topContent{
    display: grid;
    grid-template-areas: 
        "name name "
        "ya ya"
        "img side"
        "bottomContainer bottomContainer";
    gap: 1px;
    background-color: black;
    margin: 5% auto 5% auto;
    padding: 1px;
    width: 75%;
}

.topContent > * {
    background-color: white;
    padding: 15px;
    margin: 0;
}

.name {
    grid-area: name;
}

.ya {
    grid-area: ya;
}

.img {
    grid-area: img;
}

.side {
    grid-area: side;
    display: grid;
    background-color: black;
    gap: 1px;
    padding: 0;
}

.side > * {
    background-color: white;
    padding: 0px 15px 0px 15px;
    margin: 0;
}

.bottomContainer {
    grid-area: bottomContainer;
    margin: 0;
    padding: 0;
}

.bottom {
    grid-area: side;
    display: grid;
    background-color: black;
    gap: 1px;
    padding: 0;
    margin: 0;
}

.bottom > * {
    background-color: white;
    padding: 0px 15px 0px 15px;
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 5% 5% 5%;
}

@media screen and (max-width: 700px) {
    #nav {
        display: none;
    }
    #hamburger {
        display: flex;
    }
    #header {
        display: flex;
        justify-content: space-between;
    }
    #logo{
        display: none;
    }
    .members {
        flex-wrap: wrap;
    }
    .topContent {
        grid-template-areas: 
            "name"
            "ya"
            "img"
            "side"
            "bottomContainer";
    }
    .topContent img {
        width: 100%;
    }

}